---
import MTitle from "@components/MTitle.astro";
import PostCard from "@components/PostCard.astro";
import MSubtitle from "@components/MSubtitle.astro";
import Layout from "@layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  const allTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return allTags.map((tag) => {
    const filteredPosts = posts.filter((post: any) =>
      post.data.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag ?? "Tags"}>
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <div>
    <MSubtitle><span class="capitalize">{tag}</span></MSubtitle>
  </div>
  <ul class="flex gap-4 flex-col">
    {
      posts.map((post) => (
        <li>
          <PostCard
            title={post.data.title}
            url={`/${post.slug}`}
            description={post.data.description}
            image={
              post.slug.split("/")[0] === "podcast" && !post.data.image
                ? "/bg-micro.png"
                : post.data.image
            }
          />
        </li>
      ))
    }
  </ul>
</Layout>
