---
import MSubtitle from "@components/MSubtitle.astro";
import MTitle from "@components/MTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<Layout title="Tags">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <MSubtitle>Listado de tags</MSubtitle>
  <ul class="list-disc px-10 md:px-0">
    {
      tags.map((tag) => (
        <li class="font-bold m-2 text-base md:text-xl text-rose-400 hover:text-rose-300 transition-all">
          <p>
            <a href={`/tags/${tag}`} class="capitalize">
              {tag}
            </a>
          </p>
        </li>
      ))
    }
  </ul>
</Layout>
