---
import Button from "@components/Button.astro";
import MTitle from "@components/MTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Upps! | Momento Mate">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <h2 class="mt-14 text-2xl text-center font-bold text-rose-950">
    Lo sentimos pero lo que intentas buscar no existe o no se encuentra
    disponible en este momento.
  </h2>
  <div class="flex justify-center mt-20">
    <Button href="/">Volver al inicio</Button>
  </div>
</Layout>
