---
import MTitle from "@components/MTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Upps! | Momento Mate">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <h2 class="mt-14 text-2xl text-center font-bold text-rose-950">
    Lo sentimos pero lo que intentas buscar no existe o no se encuentra
    disponible en este momento.
  </h2>
  <div class="flex justify-center mt-20">
    <a
      href="/"
      class="inline-block rounded-lg bg-rose-300 px-6 pb-2 pt-2.5 text-base font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:opacity-80 hover:shadow-[0_8px_9px_-4px_rgba(255,255,255,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      >Volver al inicio
    </a>
  </div>
</Layout>
