---
import MSubtitle from "../components/MSubtitle.astro";
import MTitle from "../components/MTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
  <main class="min-h-screen flex items-center flex-col">
    <div class="max-w-3xl w-full">
      <MTitle />
      <MSubtitle>Proximamente...</MSubtitle>
    </div>
  </main>
</Layout>
