---
import MSubtitle from "../components/MSubtitle.astro";
import MTitle from "../components/MTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <MSubtitle>Proximamente...</MSubtitle>
</Layout>
