---
import MSubtitle from "../components/MSubtitle.astro";
import MTitle from "../components/MTitle.astro";
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Momento Mate">
  <main class="min-h-screen flex items-center flex-col">
    <div class="max-w-3xl w-full">
      <MTitle />
      <MSubtitle>Podcasts</MSubtitle>
      <div class="flex flex-col gap-2">
        <PostCard
          title="Ep. 1: Momento Mate"
          description="¿Qué es 'Momento Mate'?, ¿Cómo surge? y ¿Quienes somos?"
          url="1"
        />
        <PostCard
          title="Ep. 2: Somos los Más Grandes del Mundo"
          description="¿Qué significa y qué se siente 'Ser Argentino'?"
          url="2"
        />
      </div>
    </div>
  </main>
</Layout>
