---
import MTitle from "../components/MTitle.astro";
import Layout from "../layouts/Layout.astro";
import Stream from "@components/Stream.astro";
import Message from "@components/Message.astro";
---

<Layout title="Momento Mate">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <div class="mb-10">
    <Stream />
  </div>
  <div class="mb-7">
    <Message />
  </div>
</Layout>
