---
import MTitle from "../components/MTitle.astro";
import Layout from "../layouts/BaseLayout.astro";
import Stream from "@components/Stream.astro";
import Message from "@components/Message.vue";
---

<Layout title="Momento Mate">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <div class="mb-10">
    <Stream />
  </div>
  <div class="mb-7">
    <Message client:only="vue" />
  </div>
</Layout>
