---
import MTitle from "@components/MTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
  <div class="mb-7 mt-4">
    <MTitle />
  </div>
  <div class="bg-rose-100 rounded-lg p-6 mt-2 mb-14 text-rose-950"></div>
</Layout>
