---
import Card from "@components/Card.astro";
import MTitle from "@components/MTitle.astro";
import Layout from "@layouts/BaseLayout.astro";
---

<Layout title="Test">
  <div class="mb-7 mt-4">
    <MTitle />
  </div>
  <Card class="p-5"><h2>Hola</h2></Card>
</Layout>
