---
import Card from "@components/Card.astro";
import MTitle from "@components/MTitle.astro";
import Layout from "@layouts/BaseLayout.astro";
import TwitchIcon from "@components/icons/TwitchIcon.astro";
import TikTokIcon from "@components/icons/TikTokIcon.astro";
import YouTubeIcon from "@components/icons/YouTubeIcon.astro";
import InstagramIcon from "@components/icons/InstagramIcon.astro";
---

<Layout title="Test">
  <div class="mb-7 mt-4">
    <MTitle />
  </div>
  <Card class="p-5">
    <h2>Hola</h2>
    <TwitchIcon />
    <TikTokIcon />
    <YouTubeIcon />
    <InstagramIcon />
  </Card>
</Layout>
