---
import InstagramIcon from "./icons/InstagramIcon.astro";
import TikTokIcon from "./icons/TikTokIcon.astro";
import TwitchIcon from "./icons/TwitchIcon.astro";
import YouTubeIcon from "./icons/YouTubeIcon.astro";
---

<div class="flex flex-row justify-center gap-10 h-5 md:h-7">
  <a
    href="https://www.twitch.tv/momentomate"
    target="_blank"
    class="fill-rose-400 hover:scale-110 transition-all duration-300"
  >
    <TwitchIcon height="100%" />
  </a>
  <a
    href="https://www.tiktok.com/@momentomate.podcast"
    target="_blank"
    class="fill-rose-400 hover:scale-110 transition-all duration-300"
    ><TikTokIcon height="100%" /></a
  >
  <a
    href="https://www.youtube.com/@MomentoMate"
    target="_blank"
    class="fill-rose-400 hover:scale-110 transition-all duration-300"
    ><YouTubeIcon height="100%" /></a
  >
  <a
    href="https://www.instagram.com/momentomate.podcast/"
    target="_blank"
    class="fill-rose-400 hover:scale-110 transition-all duration-300"
    ><InstagramIcon height="100%" /></a
  >
</div>
