---
import SpeechBubble from "./SpeechBubble.astro";

const images = ["/facu.png", "/joel.png", "/fabri.png", "/uriel.png"];
const texts = [
  "Bienvenidos a Momento Mate",
  "Puto el que lee",
  "Sucribete y siguenos en nuestras redes",
  "Prepara un mate y únete a la conversación",
];

const getRandom = (array: any[]) => {
  const indiceAleatorio = Math.floor(Math.random() * array.length);
  return array[indiceAleatorio];
};

const image = "/matias.png";
const text = "Bienvenidos a Momento Mate";
---

<div class="flex flex-row gap-6 px-6">
  <img src={image} alt="Imagen que saluda" height="150" />
  <SpeechBubble>
    <p class="text-rose-950 text-xl md:text-2xl font-semibold">
      {text}
    </p>
  </SpeechBubble>
</div>
<style>
  img {
    height: 50px;
    width: auto;
  }
  @media (min-width: 768px) {
    img {
      height: 150px;
      width: auto;
    }
  }
</style>
