<a href="/" class="flex items-center justify-center pb-8 md:pb-16 pt-5 md:pt-18">
  <div>
    <img src="../src/assets/MM-logo.png" alt="Momento mate logo" class="h-16 md:h-32" />
  </div>
  <h1 class="text-rose-950 font-bold text-4xl md:text-6xl">Momento Mate</h1>
</a>
