---
import { Image } from "astro:assets";
import image from "../assets/matias.png";
---

<a href="/" class="flex items-center justify-center gap-3">
  <div>
    <Image
      src={image}
      alt="Momento mate logo"
      class="w-10 md:w-16"
      width="128"
      height="128"
    />
  </div>
  <h1 class="text-rose-950 font-bold text-4xl md:text-6xl">Momento Mate</h1>
</a>
