---
import Card from "@components/Card.astro";

const { title, description, url } = Astro.props;
---

<Card class="hover:bg-rose-50 rounded-none md:rounded-lg transition-all">
  <a href={url} class="flex flex-row">
    <div class="p-2 h-28 md:h-32 aspect-square">
      <img
        class="h-full w-full rounded-sm object-cover md:rounded-lg"
        src="https://tecdn.b-cdn.net/wp-content/uploads/2020/06/vertical.jpg"
        alt=""
      />
    </div>
    <div class="py-4 pe-4 ps-2 w-full overflow-hidden">
      <h5
        class="text-lg md:text-xl truncate font-bold pb-1 md:pb-2 text-rose-700"
      >
        {title}
      </h5>
      <p class="font-semibold text-sm md:text-lg line-clamp-2">
        {description}
      </p>
    </div>
  </a>
</Card>
