<div class="bg-rose-300 rounded-lg p-2">
  <iframe
    src="https://player.twitch.tv/?channel=momentomate&parent=localhost&parent=momentomate.vercel.app"
    allowfullscreen="true"
    class="rounded-lg aspect-video w-full"></iframe>
</div>
