---
import MSubtitle from "../../components/MSubtitle.astro";
import MTitle from "../../components/MTitle.astro";
import Stream from "../../components/Stream.astro";
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout title="Sobre nosotros">
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <MSubtitle>Live Streaming</MSubtitle>
  <Stream />
</Layout>
