---
import BaseHead from "@components/core/BaseHead.astro";
import Footer from "@components/core/Footer.astro";
import Navbar from "@components/core/Navbar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  lang?: string;
  image?: string;
}

const { title, description, lang, image } = Astro.props;
---

<!doctype html>
<html lang={lang ?? "es"}>
  <head>
    <BaseHead
      title={title}
      description={description ?? "Página oficial de Momento Mate"}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body class="bg-rose-200">
    <div class="min-h-screen">
      <Navbar />
      <main class="flex items-center flex-col">
        <div class="max-w-3xl w-full">
          <slot />
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
