---
import MTitle from "@components/MTitle.astro";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";

import "@styles/global.scss";
import "@styles/markdown.scss";
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

export interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const date = new Date(post.data.pubDate).toLocaleDateString("es-AR", {
  weekday: "long",
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<Layout title={post.data.title}>
  <div class="pb-7">
    <MTitle />
  </div>
  <article class="markdown-body bg-rose-100 rounded-lg pt-5 p-8">
    <div class="capitalize text-sm text-rose-400 font-bold flex flex-row">
      <span>{date} •&nbsp;</span><div class="flex gap-2">
        {
          post.data.tags.map((tag: string) => (
            <a
              class="visited:text-rose-400 text-rose-400 hover:text-rose-300 transition-all"
              href={`/tags/${tag}`}
            >
              #{tag}
            </a>
          ))
        }
      </div>
    </div>
    <slot />
  </article>
</Layout>

<style>
  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
  }

  @media (max-width: 768px) {
    .markdown-body {
    }
  }
</style>
