---
import Navitem from "./Navitem.astro";
---

<nav class="p-3 me-3 flex gap-8 justify-end">
  <Navitem path="/" label="Inicio" />
  <Navitem path="/about" label="Sobre MM" />
  <Navitem path="/podcast" label="Podcast" />
</nav>
